article {
    padding: 0em 2em;
}

.group_0 {
    stroke: #1F77B4;
    fill: #1F77B4;
}
.group_1 {
    stroke: #FF7F0E;
    fill: #FF7F0E;
}
.group_2 {
    stroke: #2CA02C;
    fill: #2CA02C;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis {
  stroke: #555;
  stroke-width: 3px;
}
.node {
  stroke: #555;
  stroke-width: 1px;
}
.node circle {
}
.node.active {
  stroke: #f00;
  stroke-width: 1.5px;
  fill: #f00;
}
.node.selected {
  stroke: #f00;
  stroke-width: 3px;
}

.link {
  fill: none;
  stroke-width: 1.5px;
  stroke-opacity: .3;
}
.link.active {
  stroke: #f00;
  stroke-width: 3px;
  stroke-opacity: 1;
}
.link.selected {
  stroke-width: 5px;
  stroke-opacity: 1;
}
#textInfo {
  font-size: 20;
  font-variant: small-caps;
}

.right {
  text-align: right;
  padding-right: 1ex;
}
