.link {
  fill: none;
  stroke-width: 4.2px;
  stroke-opacity: .8;
}
.link.active {
  stroke-width: 5px;
  stroke-opacity: 1;
}
.link.selected {
  stroke-width: 5px;
  stroke-opacity: 1;
}

.title {
    font-size: 2em;
    font-weight: bold;
}
.label {
    opacity: 0.6;
    font-size: .8;
}
.backlink {
    font-size: 1ex;
}
.regiondesc {
    font-size: 1.4em;
    fill: grey;
}
.legend.text {
    fill: grey;
}
